.mdc-dialog__title {
  padding: 12px 24px;
  border-bottom: 1px solid rgba(0,0,0,.12);;

  &::before {
    height: 22px;
  }

  .dialog-subtitle {
    font-size: 14px;
    height: 16px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.65);
  }
}

.mdc-dialog__content {
  padding: 12px 24px;

  &.dialog-small {
    min-width: 300px;
  }

  &.dialog-normal {
    min-width: 600px;
  }

  &.dialog-large {
    min-width: 900px;
  }
}

// .mdc-dialog__title.primary {
//   border-bottom: 1px solid #c2d5e4;
// }

.mdc-dialog__actions {
  padding: 12px;
  border-top: 1px solid rgba(0,0,0,.12);;
}

// .dialog-close {

// }
