:host {
  mat-sidenav-container.sidenav-container {
    height: calc(100% - 64px);
  }

  mat-sidenav.sidenav-menu {
    width: 220px;
  }

  .mat-drawer-content{
    height: calc(100vh - 84px);
  }
}
