@mixin scrollbar-theme($theme-colors) {
  ::-webkit-scrollbar-track
  {
    box-shadow: inset 0 0 6px map-get($theme-colors, scrollbar-shadow-color) !important;
    -webkit-box-shadow: inset 0 0 6px map-get($theme-colors, scrollbar-shadow-color) !important;
    border-radius: 10px !important;
    background-color: map-get($theme-colors, scrollbar-bg-color) !important;
  }

  ::-webkit-scrollbar
  {
    width: 12px !important;
    height: 12px !important;
    background-color: map-get($theme-colors, scrollbar-bg-color) !important;
  }

  ::-webkit-scrollbar-thumb
  {
    border-radius: 10px !important;
    box-shadow: inset 0 0 6px map-get($theme-colors, scrollbar-shadow-color) !important;
    -webkit-box-shadow: inset 0 0 6px map-get($theme-colors, scrollbar-shadow-color) !important;
    background-color: map-get($theme-colors, scrollbar-thumb-bg-color) !important;
  }
}
