$icomoon-font-family: "icon_acc" !default;
$icomoon-font-path: "./fonts" !default;

$iconacc-access: "\e900";
$iconacc-accounts: "\e901";
$iconacc-add-on-cards: "\e902";
$iconacc-add: "\e903";
$iconacc-add_redfish: "\e904";
$iconacc-add_vsphere: "\e905";
$iconacc-agents_update: "\e906";
$iconacc-appearance: "\e907";
$iconacc-application: "\e908";
$iconacc-backplane_s_on: "\e909";
$iconacc-ic_backup: "\e90a";
$iconacc-bad: "\e90b";
$iconacc-bios: "\e90c";
$iconacc-bios_update: "\e90d";
$iconacc-bmc: "\e90e";
$iconacc-centralized: "\e90f";
$iconacc-chassis_s_on: "\e910";
$iconacc-check_s: "\e911";
$iconacc-close: "\e912";
$iconacc-collapse_s: "\e913";
$iconacc-connection: "\e914";
$iconacc-cpu: "\e915";
$iconacc-cpu_s_on: "\e916";
$iconacc-critical: "\e917";
$iconacc-data-base-access: "\e918";
$iconacc-delete: "\e919";
$iconacc-deploy_agents: "\e91a";
$iconacc-deployment: "\e91b";
$iconacc-device_access: "\e91c";
$iconacc-dimm: "\e91d";
$iconacc-dimm_s_on: "\e91e";
$iconacc-disable: "\e91f";
$iconacc-edit: "\e920";
$iconacc-ic_empty: "\e921";
$iconacc-enviroment-info: "\e922";
$iconacc-event-log: "\e923";
$iconacc-expand: "\e924";
$iconacc-expand_s: "\e925";
$iconacc-export: "\e926";
$iconacc-fan: "\e927";
$iconacc-fan_s_on: "\e928";
$iconacc-feedback: "\e929";
$iconacc-file: "\e92a";
$iconacc-filter-config: "\e92b";
$iconacc-filter: "\e92c";
$iconacc-focus_software: "\e92d";
$iconacc-good: "\e92e";
$iconacc-hard-disk: "\e92f";
$iconacc-hardware: "\e930";
$iconacc-hidden: "\e931";
$iconacc-home: "\e932";
$iconacc-hotfix: "\e933";
$iconacc-hw-sensor: "\e934";
$iconacc-import: "\e935";
$iconacc-language: "\e936";
$iconacc-led-loccator: "\e937";
$iconacc-led: "\e938";
$iconacc-led_s_on: "\e939";
$iconacc-licence: "\e93a";
$iconacc-logout: "\e93b";
$iconacc-maintenace: "\e93c";
$iconacc-market: "\e93d";
$iconacc-menu: "\e93e";
$iconacc-metadata-editor: "\e93f";
$iconacc-model: "\e940";
$iconacc-network: "\e941";
$iconacc-network_s_on: "\e942";
$iconacc-noresult: "\e943";
$iconacc-notification: "\e944";
$iconacc-partition_s_on: "\e945";
$iconacc-power-supply: "\e946";
$iconacc-power-supply_s_on: "\e947";
$iconacc-power: "\e948";
$iconacc-process: "\e949";
$iconacc-refetch: "\e94a";
$iconacc-refresh: "\e94b";
$iconacc-remote: "\e94c";
$iconacc-remove_agents: "\e94d";
$iconacc-remove_redfish: "\e94e";
$iconacc-remove_vsphere: "\e950";
$iconacc-report: "\e951";
$iconacc-save: "\e952";
$iconacc-scan_deploy: "\e953";
$iconacc-search: "\e954";
$iconacc-security: "\e955";
$iconacc-sensor-threshold: "\e956";
$iconacc-server: "\e957";
$iconacc-settings: "\e958";
$iconacc-show-devices: "\e959";
$iconacc-smart_s_on: "\e95a";
$iconacc-smtp: "\e95b";
$iconacc-software: "\e95c";
$iconacc-software_dispatch: "\e95d";
$iconacc-software_pool: "\e95e";
$iconacc-software_remove: "\e95f";
$iconacc-storage: "\e960";
$iconacc-subscription-report: "\e961";
$iconacc-task_report: "\e962";
$iconacc-temperature: "\e963";
$iconacc-temperature_s_on: "\e964";
$iconacc-time: "\e965";
$iconacc-trust_software: "\e966";
$iconacc-utilization: "\e967";
$iconacc-visiable: "\e968";
$iconacc-voltage: "\e969";
$iconacc-voltage_s_on: "\e96a";
$iconacc-warning: "\e96b";
$iconacc-warning_s-path1: "\e96c";
$iconacc-warning_s-path2: "\e96d";
$iconacc-warning_s-path3: "\e96e";
$iconacc-zoom-out: "\e96f";

